<div class="container">
<a class="navbar-brand" style="margin-right: unset; padding: 0">Cadastro de PDVs NFCE</a>&nbsp;<a href="#" target="_blank" style="text-decoration:none" data-toggle="tooltip" title="Material de Treinamento"><i class="material-icons md-12">help_outline</i></a><br><br>
    <div class="container">
        <form [formGroup]="estabelecimentoForm">
        <table width="100%">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput [matAutocomplete]="auto" formControlName='COD_ESTAB' placeholder="Estabelecimento" autocomplete="off">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let estabelecimento of (filteredEstabelecimentos | async)?.dados.listaRegistros" [value]="estabelecimento.COD_ESTABELECIMENT">
                            <span>{{ estabelecimento.COD_ESTABELECIMENT }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Buscar PDVs NFCE" #input style="text-transform:uppercase">
                    </mat-form-field>
                </td>
                <td width='250'></td>
                <td style="text-align: right;vertical-align: bottom;">
                    <a [routerLink]="['inclusao']">
                        <i class="material-icons">
                            add
                        </i>
                    </a>
                </td>
                
            </tr>
        </table>
        </form>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 hoverTable" style="width: 100%">
            <ng-container matColumnDef="estab">
                <th mat-header-cell *matHeaderCellDef> Estabelecimento </th>
                <td mat-cell *matCellDef="let element"> {{element.COD_ESTAB}} </td>
            </ng-container>
            
            <ng-container matColumnDef="PDV">
                <th mat-header-cell *matHeaderCellDef> Nro. PDV </th>
                <td mat-cell *matCellDef="let element"> {{element.NRO_PDV}} </td>
            </ng-container>
            
            <ng-container matColumnDef="serie_nfce">
                <th mat-header-cell *matHeaderCellDef> Série NFCE </th>
                <td mat-cell *matCellDef="let element"> {{element.COD_SERIE_NFCE}} </td>
            </ng-container>

            <ng-container matColumnDef="serie_sat">
                <th mat-header-cell *matHeaderCellDef> Série SAT </th>
                <td mat-cell *matCellDef="let element"> {{element.COD_SERIE_SAT}} </td>
            </ng-container>

            <ng-container matColumnDef="equip_sat">
                <th mat-header-cell *matHeaderCellDef> Equip SAT </th>
                <td mat-cell *matCellDef="let element"> {{element.SERIE_EQUIP_SAT}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" align="right"> 
                    <a [routerLink]="['visualizacao',element.COD_ESTAB,element.NRO_PDV]">
                        <i class="material-icons">
                            visibility
                        </i>
                    </a>
                    &nbsp;
                    <a [routerLink]="['alteracao',element.COD_ESTAB,element.NRO_PDV]">
                        <i class="material-icons">
                            edit
                        </i>
                    </a>
                    &nbsp;
                    <a [routerLink]="['delecao',element.COD_ESTAB,element.NRO_PDV]">
                        <i class="material-icons">
                            delete
                        </i>
                    </a>
                    &nbsp;
                    <a [routerLink]="['inclusao',{estab:element.COD_ESTAB, pdv:element.NRO_PDV}]">
                        <i class="material-icons">content_copy</i>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [length]="dataSource.total$ | async" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>